DB_USERNAME=
DB_PASSWORD=

DB_URL=jdbc:mysql://localhost:3306/electronify?createDatabaseIfNotExist=true
SERVER_PORT=8080

CLOUDINARY_CLOUD_NAME=dkeksrlzj
CLOUDINARY_API_KEY=289733423759647
CLOUDINARY_API_SECRET=uWtw8zG4PWTeUyKqNBEV2w9TaJA